<div class="sidebar-module sidebar-module-inset">
  <h4 class="title">
    <%- theme.about.title %>
  </h4>
  <div class="profile">
    <div class="image">
      <img src="<%- theme.about.logo %>">
    </div>
    <div class="text">
      <p>
        <%- theme.about.desc %>
      </p>
    </div>
  </div>
</div>
