<% if (site.posts.length){ %>
    <div class="sidebar-module">
        <h4>最近更新</h4>
        <ul class="sidebar-module-list">
            <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
                <li>
                    <a href="<%- url_for(post.path) %>" class="text-muted">
                        <%= post.title || '(no title)' %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
    <% } %>
        <div class="sidebar-module">
          <h4>微信公共号</h4>
          <div>
          本站最新资讯优先发布媒体<br/>
          搜索：frontend-guru<br/>
          或微信扫描二维码：<br/>
          <img width="180px" src="http://res.cloudinary.com/dawjytvkn/image/upload/v1464858605/qrcode_for_gh_6f66da401fef_430_b1rr96.jpg" /><br/>
          关注
        </div>
        </div>
        <div>
          <h4>访客足迹</h4>

            <a style="text-align:center;height:80px;" target="_blank" href="http://www3.clustrmaps.com/counter/maps.php?url=http://3gcnbeta.com" id="clustrMapsLink"><img src="http://www3.clustrmaps.com/counter/index2.php?url=http://3gcnbeta.com" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" />
            </a>
            <script type="text/javascript">
                function cantload() {
                    img = document.getElementById("clustrMapsImg");
                    img.onerror = null;
                    img.src = "http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg";
                    document.getElementById("clustrMapsLink").href = "http://www2.clustrmaps.com";
                }
                img = document.getElementById("clustrMapsImg");
                img.onerror = cantload;
            </script>
        </div>
